<!DOCTYPE html>
{#{% load static %}#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
    <script type="text/javascript" src=""></script>
{#    <script type="text/javascript" src="{% static 'js/kino.js' %}"></script>#}
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</head>
<body>

 <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2 class="text-center">Comment</h2>
          </div>
          <div class="col-lg-6">
              <div id="comment-fild"></div>
          </div>
          <div class="col-lg-6">
              <form>
                  <div class="form-group">
                      <label for="comment-name">Name:</label>
                      <input type="name" class="form-control" id="comment-name" placeholder="Your name">
                  </div>
                    <div class="form-group">
                        <label for="comment-body">Comment:</label>
                        <input type="name" class="form-control" id="comment-body" placeholder="Your comment">
                    </div>
                    <div class="form-group text-right">
                        <button  type="button" id="comment-add" class="btn bg-primary">add Comment</button>
                    </div>
              </form>
          </div>
      </div>
  </div>
{#  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>#}
 <script>
     document.getElementById('comment-add').onclick = function () {
         console.log("rabotaet");
     }
 </script>
</body>

</html>