{% extends 'index.html' %}
{% load static %}
{%  block head %}
    <title>Сброс пароля</title>
       <link rel="stylesheet" href="{% static 'css/main.css' %}">
     <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% endblock %}
{% block content %}
  <h2>Сброс пароля</h2>
    <form class="sbroc" action="" method="post" novalidate>
         {% csrf_token %}
    <table>
        <tr>
                {{ form.email.label_tag }}
        </tr>
       <tr>
                {{ form.email }}
       </tr>
        <tr>
                {{ form.email.errors }}
        </tr>
    </table>
        <input  class="sbroc1" type="submit" value="отправить">
    </form>
{% endblock %}
