body{

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    position: relative;

}
.content{
    background-color: rgba(139, 0, 0, 0.25);
    border-radius: 50px ;

    /*border: 5px solid lawngreen;*/
}
.content h1{
    color: azure;
}

.neonText {
  color: yellow;
  text-shadow:
      0 0 7px deeppink,
      0 0 10px deeppink,
      0 0 21px deeppink,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

h1 {
  animation: flicker 1s infinite alternate;
}

/* Flickering animation */
@keyframes flicke {

  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px deeppink,
      0 0 11px deeppink,
      0 0 19px deeppink,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;

  }
   20%, 50%, 75%{
       color: deeppink;
   }

  20%, 44%, 85% {
      text-shadow: none;
  }

}



.container {
  margin-top: 20px;
}

.menu {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  padding: 20px 20px;
  background-color: #333;
  border-radius: 10px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 16px;
}

.menu a:hover {
  background-color:dimgray;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu a {
    font-size: 14px;
  }
}

.foto{
    position: absolute;
    margin-left: 550px;
    margin-top: -280px;
    border: 2px solid darkred;
    background-color: rgba(0, 128, 0, 0.34);
}
.foto img{
    margin-left: 50px;
}
h2{
    color: aquamarine;
}
p{
    font-size: 25px;
    color: azure;
}
.ok{
    color: aqua;
    text-align: center;
    font-size: 35px;
}
.po{
    text-align: center;
    font-size: 35px;
    color: aqua;
}
.lo{
    font-size: 25px;
    word-break:break-all;
    padding: 5px;
}
ul{
    text-align: center;
    font-size: 25px;
    list-style-type: none;
    color: darkorange;
    display:flex;
    justify-content:space-evenly;
}

li a{
    color:aqua;
    text-decoration: none;
}
.st{
    color:gold;
}
.actor_card{
    border-radius: 20px;
    margin: 0 20px;
    background-color: rgba(139, 0, 0, 0.33);
}
.actor_card ul li{
    border: 2px solid darkorange;
    width: 200px;
    height: 100%;
    background-color: rgba(100, 149, 237, 0.87);
}
.actor_card img{
    width:100%;
}
.actor_card a img:hover{
    transform: scale(0.95);
}

/* Для экранов шириной до 968px */
@media (max-width: 968px) {
  .actor_card ul li {
    width: 150px;
  }
}

/* Для экранов шириной до 676px */
@media (max-width: 626px) {
  .actor_card ul li {
    width: 100px;
  }
}
/* Для экранов шириной до 576px */
@media (max-width: 576px) {
  .actor_card ul li {
    width: 70px;
  }
}

.pagination{
    margin: 0 auto;
    width: 60%;
    background-color: gold;
    font-size: 35px;
    border-radius: 10px;
}
.pagination span{
    margin: 0 auto;
}
.katalog{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    font-size: 40px;
    color: lawngreen;
    width: 30%;
    background:  blueviolet;
    border-radius: 10px;
}
.pripro{
     text-align: center;
    margin: 0 auto;
    padding: 10px;
    font-size: 35px;
    width: 30%;
    background:lightseagreen;
    border-radius: 10px;
}
.podpi{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    font-size: 35px;
    width: 30%;
    background:lightseagreen;
    border-radius: 10px;
}
.info_actor{
    margin: 0 auto;
    width: 60%;
    background-color: white;
    text-align: center;
    color: darkorange;
    font-size: 25px;
}
.info_actor b{
    color: darkslategrey;
    font-size: 30px;
}
.actor{
    color: lime;
}
.pro{
    text-align: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 0, 0.84);
    border-radius: 10px;
    padding: 30px;
    width: 40%;
}
.pro b{
    font-size: 45px;
    color: maroon;
}
.pro h2 {
    font-size: 30px;
    color: darkslategrey;
}
.pro i{
    font-size: 35px;
    font-weight: 700;
    color: blue;
}
.pro_film {
    margin: 0 auto;
    width: 80%;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(47, 79, 79, 0.74);
}
.photo {
    width: 95%;
    position: absolute;
}
.nazvan{
    margin-left: 50px;
}
.nazvan p{
    font-size: 30px;
}
.nazvan b{
    color: darkblue;
}
.photo img{
    margin-right: 100px;
    margin-top: -260px;
    float: right;
}
.photo h2{
    font-size: 30px;
    margin-right: 50px;
    margin-top: -320px;
    float: right;
}
.glav{
    text-align: center;
    background-color: rgba(47, 79, 79, 0.54);
    color: red;
}
.glav1{
    text-align: center;
    font-size: 42px;
    color: yellow;
    background-color: rgba(47, 79, 79, 0.54);
}
.glav2{
    text-align: center;
    color: yellow;
    font-size: 30px;
    background-color: rgba(47, 79, 79, 0.54);
}
.opis{
    margin: 0 20px;
    text-align: center;
    justify-content:space-evenly;
    border: 2px solid blueviolet;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    background-color: rgba(0, 128, 0, 0.83);
}
.opis .krat{
    font-size: 30px;
    font-family: "Garamond", "Georgia", "serif";
    font-weight: 700;
    padding: 0 100px;
}
i{
    color: blue;
}
b{
    color: lime;
}
.regh_ul{
    border-radius: 20px;
    margin: 0 20px;
    background-color: rgba(139, 0, 0, 0.33);
}
.regh{
    width: 10%;
    background-color: rgba(255, 255, 0, 0.5);
    border-radius: 20px;
}
.regh img{
    width: 100%;
    border-radius: 20px;
}
.regh:hover{
    background-color: darkred;
    transform:scale(0.98);
}
.reg_der{
    color: yellow;
    font-size: 30px;
}
/*.polz{*/
/*    background-color: rgba(138, 43, 226, 0.3);*/
/*    margin-left: 100px;*/
/*    margin-top: -50px;*/
/*    width: 600px;*/
/*    text-align: center;*/
/*    border-radius: 50px;*/
/*}*/
/*.polz h1{*/
/*    color: azure;*/
/*}*/
.per{
    text-decoration: none;
    font-size: 35px;
    color:darkred;
}
.sled{
    text-decoration: none;
    font-size: 35px;
    color: cornflowerblue;
}
.current{
    color: darkmagenta;
}
.card1{
    text-decoration: none;
    background-color: rgba(255, 255, 0, 0.5);
    color: green;
}
h4{
    color: crimson;
}
.ganry {
    display:block;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.58);
    margin-left: 200px;
    margin-right: 200px;
}
.ganry button{
    background-color: yellow;
    font-size: 10px;
    color: darkgreen;
}
.ganry button:hover{
     transform: rotate(15deg);
}
.ganry h1{
    color: darkred;
    background-color: rgba(0, 128, 0, 0.71);
}
.ganry h2{
   color:indigo;
    font-size: 17px;
}
.ganry img{
    text-align: center;
}
video {
  max-width: 100%;
  height: auto;
}
.film{
    font-size: 25px;
    color: yellow;
}
.film:hover{
    color: lightseagreen;
    font-size: 30px;
}
.comit_forma table tr td{
    background: violet;
    color: saddlebrown;
    text-align: center;
}


