.main{
    background-color: aquamarine;
    text-align: center;
    font-size: 40px;
    margin: 0 20px;
    border-radius: 5px;
    padding: 10px;
    color: darkblue;
    font-weight: 700;
}
.cont{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    /*background: url('{% static "kino.image" %}');*/
    text-align: center;
    border: 2px solid;
    width: 30%;
    object-fit: contain;
    overflow: hidden;
    background-color: rgba(139, 0, 139, 0.6);
    margin-top: 50px;
}
.card img{
    background-size: cover;
    width: 90%;
    margin: 0 auto;
}
h1{
    text-align: center;
    color: azure;
}
.card:hover {
    background-position: left center;
    background-size: 600px;
}
.vs{
    overflow: visible;
    color:chartreuse;
    font-size: 27px;
}
.vs1{
    overflow: visible;
    color:aqua;
    font-size: 22px;
}
.podp{
    padding: 10px;
    margin: 0 auto;
    width: 60%;
    background-color: coral;
    border-radius: 10px;
    color: saddlebrown;
}
.but{
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: yellow;
    font-size: 25px;
    font-weight: 700;
    color: blue;
    font-family: "Arial Black";
}
.but:hover{
    background-color: forestgreen;
    color: yellow;
}
.opis .butotziv{
    border-radius: 10px;
    background-color: coral;
    font-size: 25px;
    font-weight: 700;
    color: blue;
    font-family: "Arial Black";
}
.opis .butotziv:hover{
    background-color: blue;
    color: yellow;
}
/*css Для видео */
iframe{
    aspect-ratio: 16/9;
    width: 100%;
}
.opis .likes{
    background: #333333;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 10px;
}
/*.mod_css{*/
/*    border: 1px solid #ccc;*/
/*    padding: 10px;*/
/*    border-radius: 5px;*/
/*    display: flex; !* Использование flexbox для центрирования по вертикали и горизонтали *!*/
/*    justify-content: center; !* Центрирование по горизонтали *!*/
/*    align-items: center; !* Центрирование по вертикали *!*/
/*    !*height: 100vh; !* Установка высоты блока во всю высоту видимой области *!*!*/
/*}*/
.modal-body.bg-primary {
       display: flex;
       justify-content: center;
      align-items: center;
   }


/*.prov_comit {*/
/*        width: 80%; !* Задайте желаемую ширину текстового поля *!*/
/*        max-width: 100%; !* Ограничивает максимальную ширину текстового поля *!*/
/*        max-height: 100%; !* Ограничивает максимальную высоту текстового поля *!*/
/*    }*/

   /*----------------  Вот так не дает выходить из границ textarea   --------------------*/
.prov_comit textarea {
        box-sizing: border-box; /* Учитывает отступы и границы внутри размеров элемента */
        width: 100%; /* Задайте 100% ширины текстового поля */
        max-height: 100%; /* Ограничивает максимальную высоту текстового поля */
    }