.main{
    background-color: aquamarine;
    text-align: center;
    font-size: 40px;
    margin: 0 20px;
    border-radius: 5px;
    padding: 10px;
    color: darkblue;
    font-weight: 700;
}
.cont{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    /*background: url('{% static "kino.image" %}');*/
    text-align: center;
    border: 2px solid;
    width: 30%;
    object-fit: contain;
    overflow: hidden;
    background-color: rgba(139, 0, 139, 0.6);
    margin-top: 50px;
}
.card img{
    background-size: cover;
    width: 90%;
    margin: 0 auto;
}
h1{
    text-align: center;
    color: azure;
}
.card:hover {
    background-position: left center;
    background-size: 600px;
}
.vs{
    overflow: visible;
    color:chartreuse;
    font-size: 27px;
}
.vs1{
    overflow: visible;
    color:aqua;
    font-size: 22px;
}
.podp{
    padding: 10px;
    margin: 0 auto;
    width: 60%;
    background-color: coral;
    border-radius: 10px;
    color: saddlebrown;
}
button{
    margin-bottom: 20px;
    background-color: yellow;
    font-size: 25px;
    font-weight: 700;
    color: blue;
    font-family: "Arial Black";
}
button:hover{
    background-color: forestgreen;
    color: yellow;
}

/*css Для видео */
iframe{
    aspect-ratio: 16/9;
    width: 100%;
}
