{% extends 'index.html' %}
 {% load static %}
{%  block head %}

    <title>Режисеры</title>

{% endblock %}
{% block content %}
     <div style="padding: 0 20px">
         <br>
        <h2 class="glav1"><b>Про режисера</b></h2>
            <h2 class="glav">Имя режисера: <i class="reg_der">{{ director.fname }}</i></h2>
            <h2 class="glav">Фамилия режисера: <i class="reg_der">{{ director.lname }}</i></h2>
         {% for kino in director.kino_set.all %}
             <br>
             <h2 class="glav2">Режисер какого фильма: <b>{{ kino.title }}</b></h2>
             <h2 class="glav2">Какой жанр фильма: <i class="reg_de">{{ kino.genre }}</i></h2>
             <h2 class="glav2">В какой стране снят фильм: {{ kino.country }}</h2>
             <br>
     </div>
         <div class="opis">
             <br>
             <h2><i>Краткое описание фильма </i></h2>
                    <p class="krat">{{ kino.summary }}</p>
                 <img class="img1" src="{% static kino.image %}" alt="" width="350">
             <br>
         </div>
     {% endfor %}
    <br>
    <br>
{% endblock %}