{% extends 'index.html' %}
{% load static %}
{% block content %}
    <br>
    <div style="padding: 0 20px">
        <h2 class="glav1">Фильм</h2>
           <h2 class="glav1"><b>{{ kino.title }}</b></h2>
              <h2 class="glav">Режисер: <i>{{ kino.director }}</i></h2>
                  <h2 class="glav">Рейтинг: <b>{{ kino.ager }}</b></h2>
                    <h2 class="glav2">Уровень подписки: <i>{{ kino.status }}</i></h2>
                        <h2 class="glav">Актеры: <b>{{ kino.display_actors }}</b></h2>
        </div>
    <br>
            <div class="opis">
                <br>
                <h2><i>Описание:</i></h2>
                    <p class="krat">{{ kino.summary }}</p>
                        <img src="{% static kino.image %}" alt="" width="350">
                    <br>
                <br>
            </div>
    <br>
    <br>
{% endblock %}
