{% extends 'index.html' %}
{% load static %}
{% block content %}

    <h2 class="glav1">Фильм</h2>
      <h2 class="glav1"><b>{{ kino.title }}</b></h2>
         <h2 class="glav">Режисер: {{ kino.director }}</h2>
             <h2 class="glav">Рейтинг: {{ kino.ager }}</h2>
                <h2 class="glav2">Уровень подписки: <i>{{ kino.status }}</i></h2>
                    <h2 class="glav">Актеры: {{ kino.display_actors }}</h2>
            <div class="opis">
                <h2><i>Описание:</i></h2>
                    <p class="krat">{{ kino.summary }}</p>
                        <img src="{% static kino.image %}" alt="" width="350">
                    <br>
                <br>
            </div>

{% endblock %}
